@use "../../sass/variables" as *;

.MovieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  img {
    width: 210px;
  }

  .movie-description {
    background-color: #212125;
    height: 150px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
  }

  h3 {
    font-size: 16px;
    inline-size: 150px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
  }

  .btn-red {
    background-color: $red !important;
    border: none;
    color: $white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-red:hover {
    background-color: rgb(210, 24, 24);
  }

  .title-movie {
    color: $white;
    text-decoration: none;
  }
}

.MovieCard:hover {
  background-color: #212125;
  opacity: 0.9;
  cursor: pointer;
}
