@use "../../sass/variables" as *;

.error-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    color: $white;
  }
}

.warning{
  color: $red;
  font-weight: bold ;
}