@import "./views/Home/index.scss";
@import "./views/MovieDetail/index.scss";
@import "./components/Header/index.scss";
@import "./components/MovieCard/index.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: ;
}